<h1> <%= @citizen.name %></h1>

<p>Age: <%= @citizen.age %></p>
<p>Occupation: <%= @citizen.occupation %></p>
<p>City: <%= @citizen.city.name %></p>

<%= link_to "Edit", edit_citizen_path(@citizen.id) %>
<%= link_to "Delete", citizen_path(@citizen.id), method: :delete, data: { confirm: "Are you sure?" } %>
