<%= form_for @city do |f| %>

  <ul>
    <% @city.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :image_url %>
<%= f.text_field :image_url %>

<%= f.submit "Create" %>

<% end %>
