<h1><%= @city.name %></h1>

<%= image_tag @city.image_url %>

<h2>List of citizens</h2>
<% if @city.citizens.any?%>
  <ul style="list-style: none;">
    <% @city.citizens.each do |citizen| %>
      <p> Citizen </p>
      <li class="new"><h3><span class="tag">Name: </span><%= citizen.name %></h3></li>
        <ul>
          <li><span class="tag">Age: </span><%= citizen.age %></li>
          <li><span class="tag">Occupation: </span> <%= citizen.occupation %></li>
       </ul>
    <% end %>
  </ul>
<% else %>
  <p>There are no citizens in this city.</p>
<% end %>
<p><%= link_to "Edit", edit_city_path(@city.id) %></p>
<p><%= link_to "Delete", city_path(@city.id), method: :delete, data: { confirm: "Are you sure?"} %> </p>
