<!DOCTYPE html>
<html>
  <head>
    <title>PeopleInCities</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home (all cities)", root_path %>
    <%= link_to "All citizens", citizens_path %>
    <%= yield %>
    <%= link_to "Home", root_path %>
  </body>
</html>
